<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_for @user, url: {controller: :users, action: :update} do |form| %>

  <%= form.label :ユーザー名 ,:class => "name_form" %>
  <%= form.text_field :nicename %>
  
  <%= form.label :メールアドレス , :class => "mail_form"%>
  <%= form.email_field :mail %>
  
  <div class="save_form">
    <%= form.submit '保存' %>
  </div>
<% end %>