<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_for @user, url: {controller: :users, action: :update} do |form| %>
  <div class="#">
    <%= form.label :ユーザー名 ,:class => "name_form" %>
    <%= form.text_field :nicename %>
  </div>
  <div class="#">
    <%= form.label :メールアドレス , :class => "mail_form"%>
    <%= form.email_field :mail %>
  </div>
  <div class="save_form">
    <%= form.submit '保存' %>
  </div>
<% end %>