<div class="form-heading">ログイン</div>
<div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

        <%= form_for user do |form| %>
        <div>
          <%= form.label :email %>
          <%= form.email_field :email %>
        </div>
        <div>
          <%= form.label :nicename %>
          <%= form.text_field :nicename %>
        </div>
        <% end %>
      </div>
    </div>