<div class="form-heading">ログイン</div>
<div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

        <%= form_for @user do |form| %>
        <div>
          <%= form.label :mail %>
          <%= form.email_field :mail %>
        </div>
        <div>
          <%= form.label :password %>
          <%= form.text_field :password %>
        </div>
        <% end %>
      </div>
    </div>