<div class="form-heading">新規ユーザー登録</div>
<div class="form users-form">
    <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

         <%= form_for @user , url: { controller: :users, action: :create } do |form| %>
        <div>
            <%= form.label :ユーザー名 %>
            <%= form.text_field :nicename %>
        </div>
        <div>
          <%= form.label :メールアドレス %>
          <%= form.email_field :mail %>
        </div>
        <div>
          <%= form.label :パスワード %>
          <%= form.text_field :password %>
        </div>
        <div>
          <%= button_tag type: "submit" do %>
              新規登録
          <% end %>
        </div>
        <% end %>
    </div>
</div>