<h2><%= @user.nicename %></h2>
<%# <p><%= @user.mail %></p> 
<% if @user.id == @current_user.id %>
  <%= link_to("編集", "/users/#{@user.id}/edit") %>
<% end %>
<ul class="user-tabs">
  <li class="active"><%= link_to "投稿", "/users/#{@user.id}" %></li>
  <li><%= link_to "お気に入り", "/users/#{@user.id}/likes" %></li>
</ul>
<% if @impressions%>
  <% @impressions.each do |imp| %>
      <%= imp.story%>
  <% end%>
<% end%>
