<div class="user">
  <h2><%= @user.nicename %></h2>
  <%# user.mailと編集リンクを表示 %>
  <% if @user.id == @current_user.id %>
    <p><%= @user.mail %></p>
    <p><%= link_to("編集", "/users/#{@user.id}/edit") %></p>
  <% end %>
</div>

<div class="switch">
  <ul>
    <li class="active"><%= link_to "投稿", "/users/#{@user.id}" %></li>
    <li><%= link_to "お気に入り", "/users/#{@user.id}/likes" %></li>
  </ul>
</div>
<%# 投稿があるなら表示 %>
<%# <% if @impressions%>
  <% @impressions.each do |imp| %>
    <div class="user_story">
      <%= imp.story%>
    </div>
  <% end%>
<%# <% end%>
