
<% @books.each do |book| %>

    <div class="card">
    <div>
      <%= book.thumbnail %>
      <div class="card-right">
      <%= book.title %>
      <%= book.author %>
      </div>
    </div>
    <%# <% if @impression%>
    <div class="card-text">
    <% @impression.each do |imp|%>
      <%= imp.story %>
      <%= imp.impressions %>
    <% end%>
    </div>
  <div class="card-under">

        <%# <i class="material-icons hart">favorite</i> %>

    <div>
      <%= link_to "詳細", "/show/#{book.id}"%>
    </div>
    <% end%>
  </div>
</div>
