
<% @books.zip(@impression).each do |book, imp| %>
  <div class="card">
      <%= book.thumbnail %>
      <div class="card-right">
        <div class="title">
          <%= book.title %>
        </div>
        <div class="author">
          <%= book.author %>
        </div>
      </div>
    <div class="card-text">
      <div class="story">
        <%= imp.story %>
      </div>
      <div class="impressions">
        <%= imp.impressions %>
      </div>
    </div>
    <div class="card-under">
        <i class="material-icons hart">favorite</i>
      <div>
        <%= link_to "詳細", "/show/#{imp.id}" %>
      </div>
    </div>
  </div>
<% end%>

