<% if @comment %>
  <% @comment.each do |com| %>
        <div class="posts-index-item">
          <div class="post-right">
            <div class="post-user-name">
              <%= com.comment %>
            </div>
          </div>
        </div>
  <% end %>
<% end %>
<div>
    <%= form_for @comment, url: { controller: :comments, action: :reply } do |com|%>
      <div>
        <%= com.label :コメント %>
        <%= com.text_field :comments %>
      </div>
      <%= form.submit 'コメントする ' %>
    <% end%>
</div>