<% @comments.each do |comment| %>
    <%= comment.comment %>
<% end %>

<div>
    <%= form_for @new_comment, url: { controller: :comments, action: :reply } do |form| %>
        <div>
          <%= form.label :コメント %>
          <%= form.text_field :comment %>
          <%# 見えないけれどフォームに送信される。 %>
          <%= form.hidden_field :user_id ,:value => "user" %>
          <%= form.hidden_field :book_id ,:value => "bookstore" %>
        </div>
        <%= form.submit 'コメントする ' %>
    <% end%>
</div>