<% if !comments.blank? %>
  <% comments.each do |comment| %>
    <div class="posts-index-item">
      <div class="post-right">
        <div class="post-user-name">
          <%= comment.comment %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div>
  <%= form_for new_comment , url: { controller: :comments, action: :reply } do |form| %>
    <div>
      <%= form.label :コメント %>
      <%= form.text_field :comment %>
      <%# 見えないけれどフォームに送信される。 %>
      <%= form.hidden_field :user_id %>
      <%= form.hidden_field :book_id%>
    </div>
    <%= form.submit 'コメントする' %>
  <% end %>
</div>
