<%# 新規と、既存のbookstoreデータを使いたい場合で分ける。同じページでやりたいが、フォームを分けることは、コントローラーで紐づいているため
　　できないので、if で分けるが、 %>

  <div class="close-modal">
    <p>とじます</p>
  </div>
  <% book = Bookstore.new %>
  <%# fields_for　は複数モデルを使うときに使う %>
  <%# book.submitだと結局submitになってしまっているので、submitパーツ以外にする %>
  <%= form_for book, url: { controller: :bookstore, action: :create}  do |form| %>
    <div class="card">
      <div class="card-image">
        <%= form.label :好きな画像を選んでね %><br>
        <%= form.file_field :thumbnail %>
      </div>
        <div class="card-right">
          <div class="author">
            <%= form.label :作者名 %>
            <%= form.text_field :author %>
          </div>
          <div class="title">
            <%= form.label :タイトル %>
            <%= form.text_field :title %>
          </div>
        </div>
         <%=  form.fields_for book.impressions.build do |field| %>
           <%= field.hidden_field :user_id ,:value =>  @current_user %>
           <div class="card-text">
             <div class="story">
               <%= field.label :あらすじ %>
               <%= field.text_area :story %>
             </div>
             <div class="impressions">
               <%= field.label :感想 %>
               <%= field.text_area :impressions %>
             </div>
           </div>
          <div class="card-under">
            <button type="button" onclick="submit();">送信</button>
          </div>
         <% end%>
    </div>
  <% end%>
