<%= form_for @impression , url: { 'controller' => 'books', 'action' => 'update'} do |imp|%>
    <div class="card">
      <div class="text-div">
          <%= imp.label :あらすじ %>
          <%= imp.text_area :story  ,value="<%= imp.story %>"%>
          <%= imp.label :感想 %>
          <%= imp.text_area :impressions ,value="<%= imp.impressions %>"%>
      </div>
        <div class="card-under">
          <%= imp.submit '保存' %>
        </div>
         <%= link_to "削除", "/#{imp.id}/destroy", {method: "post"} %>
         <%= link_to "戻る", "/show/#{imp.id}"%>
    </div>
<% end %>