<%= form_for @impression , url: { 'controller' => 'books', 'action' => 'update'} do |imp|%>
    <div class="card">
      <div class="text-div">
          <%= imp.label :あらすじ %>
          <%= imp.text_area :story  %>
          <%= imp.label :感想 %>
          <%= imp.text_area :impressions %>
      </div>
        <div class="card-under">
          <%= imp.submit '保存' %>
<% end %>
        </div>
        <%# #{}は要らない %>
         <%= link_to "削除", "/#{@impression.id}/destroy", {method: "post"} %>
         <%= link_to "戻る", "/show/#{@impression.id}.id"%>
    </div>
