<%= form_for @book, url: { controller: :books, action: :create} do |book| %>
  <div class="card">
      <div class="card-right">
        <div class="title">
          <%= book.label :作者名 %>
          <%= book.text_field :title %>
        </div>
        <div class="author">
          <%= book.label :タイトル %>
          <%= book.text_field :author %>
        </div>
      </div>
      <%# fields_for　は複数モデルを使うときに使う %>
      <%= book.fields_for @impression do |imp|%>
        <%= imp.hidden_field :user_id ,:value =>  @current_user.id%>
        <div class="card-text">
          <div class="story">
            <%= imp.label :あらすじ %>
            <%= imp.text_area :story %>
          </div>
          <div class="impressions">
            <%= imp.label :感想 %>
            <%= imp.text_area :impressions %>
          </div>
        </div>
        <% end%>
      <div class="card-under">
        <%= book.submit '投稿' %>
      </div>
  </div>
<% end%>