<%# 本の詳細表示 %>
<div class="card-show">
    <div>
      <div class="card-img">画像</div>
      <div class="card-right">
        <p>作者</p>
        <h1><%= @book.author%></h1>
        <p>タイトル</p>
        <h2><%= @book.title %></h2>
      </div>
    </div>

      <%#  1つの本に対して感想は複数存在する %>
      <% @impressions.each do |impression| %>
        <p>題名</p> 
        <%= impression.story %>
        <p>かんそう</p>
        <%= impression.impressions %>

      <div class="card-under"> 
        <div>
          <% my_like = Like.find_by(impression_id: impression.id, user_id: @current_user.id)%>
          <% if my_like %>
            <%= link_to "/likes/#{impression.id}/destroy",{impression_id: impression.id  , :method => :post} do %>
              <span class="material-icons hart">favorite</span>
              <%= impression.likes.count %>
            <% end %>
          <% else %>
            <%  #メモ
                # そもそも、link_toはリンク（aタグ）を生成するためのものなので、あまりパラメータを渡して◯◯するという用途に向かない
                # パラメータを渡してなにか処理をする、といった場合はformを使う
                #（ただし、form_tag / form_forは、rails5系ではform_withを使うことが多い
            %>
            <%= form_with(model: :likes, scope: :likes, url: likes_create_path, local: :false) do |form| %>

                <% # メモ formのsubmitを何かしらでsubmitしないと行けない %>
                <% # テキストからのボタンを作り、上からスタイルを当てる%>
                <%= form.button '', :class => "material-icons hart" %>
                <%= impression.likes.count %>

                <%= form.hidden_field :user_id, :value => @current_user.id %>
                <%= form.hidden_field :impression_id, :value => impression.id %>
                <%= form.hidden_field :bookstore_id, :value => params[:bookstore_id] %>

            <% end %>
          <% end %>
        </div>
        <div>
          <%= link_to "編集", "/#{impression.id}/edit"%>
          <%= link_to "削除", "/#{impression.id}/destroy", :method => :post %>
          <%= link_to "戻る", "/index"%>
        </div>
      </div>
    <% end %>
</div>

<% render partial: 'books/cards/comments' , locals: { comments: @comments, new_comment: @new_comment } %> 



