<header class="header">
  <div class="header-div">
    <% if @current_user %>
      <ul>
        <li><%= link_to "感想を書く", "/new"%></li>
        <li><%= link_to "新着一覧", "/index" %></li>
        <li><%= link_to "お気に入り・コメント" ,"/users/#{@current_user.id}/likes" %></li>
        <li><%= link_to "ユーザーホーム", "/users/#{@current_user.id}"%></li>
        <li>
          <a href="search" class="search">検索する</a>
            <input type="search" class="search-box" >
        </li>
      </ul>
          <div class="hidden_box">
            <label for="label1">設定</label>
            <input type="checkbox" id="label1"/>
            <div class="hidden_show">
              <!--ここに隠す中身-->
                <%= link_to "ユーザー設定", "/users/#{@current_user.id}/edit"%>
            </div>
          </div>
    <% else%>
      <ul>
        <li><%= link_to "感想を書く", "/new" %></li>
        <li><%= link_to "新着一覧", "/index" %></li>
        <li><%= link_to "ログイン", "/" %></li>
        <li><%= link_to "新規登録", "/signup" %></li>
        <li>
          <a href="search" class="search">検索する</a>
          <input type="search" class="search-box">
        </li>
      </ul>
    <% end%>
  </div>
</header>