<%# ☚ % # としない %>
<header class="header">
  <div class="header-div">
    <%# userログイン時に表示 %>
    <% if @current_user %>
      <ul>
        <li><%= link_to "感想を書く", "/new"%></li>　
        <%# books#new %>
        <li><%= link_to "新着一覧", "/index" %></li>
        <%# books#index %>
        <li><%= link_to "お気に入り・コメント" ,"/users/#{@current_user.id}/likes" %></li>
        <%# users#likes %>
        <li><%= link_to "ユーザーホーム", "/users/#{@current_user.id}"%></li>
        <%# users#show %>
        <li class="search">
          <a href="search" >本のタイトルを検索する</a>
          <%# 検索ボタン%>
          <%# <input type="search" class="search-box"> %>
          <%# 検索する文字の入力画面%>
          <%= form_with(url: "/search") do |form| %>              　
          <%# books#search %>
          <%= form.text_field :search %>
          <%= form.submit 'Search', :name => nil %>
          <% end%>
        </li>
      </ul>
          <div class="hidden_box">
            <label for="label1">設定</label>
            <%# 隠しバー　同じulタグ内に置かないのは全部いっぺんに要素が大きくなるのを避けるため%>                 
            <input type="checkbox" id="label1"/>
            <div class="hidden_show">
              <!--ここに隠す中身-->
                <%= link_to "ユーザー設定", "/users/#{@current_user.id}/edit"%>
                <%# users#edit %>
            </div>
          </div>
    <%# user非ログイン時 %>
    <% else%>
      <ul>
        <li><%= link_to "新着一覧", "/index" %></li>
        <%# books#index %>
        <li><%= link_to "ログイン", "/" %></li>
         <%# users#login %>
        <li><%= link_to "新規登録", "/signup" %></li>
        <%# users#new %>
        <li  class="search">
        <%# 本のタイトルのみで検索できます。探しても見つからないなら、ココにはない。 %>
          <a href="search">本のタイトルを検索する</a>
          <%# <input type="search" class="search-box"> %>
          <%= form_with(url: "/search") do |form| %>
          <%= form.text_field :search %>
          <%= form.submit 'Search', :name => nil %>
          <% end%>
        </li>
      </ul>
    <% end%>
  </div>
</header>